html{
  background-color: blueviolet;
}

.search {
  width: 200px;
  height: 60px;
  display: flex;
  border: 2px solid;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75) inset;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75) inset;
}

.temp {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.desc {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.wind {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.temp:hover, .desc:hover , .wind:hover{
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.city {
  display: grid;
  place-items: center;
}
