html{
  scroll-behavior: smooth;
}

body {
  margin: 15px;
  background-color: #393e46;
  
}

/* NAVBAR */
.navbar {
  margin-bottom: 20px;
  display: flex;
  border-radius: 12px;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  background-color: #cd47dcbb;
  color: #fff;
}

.navbar__links {
  display: flex;
  list-style-type: none;
  gap: 16px;
  padding: 0;
  justify-content: space-between;
  gap: 16px;
}
@media screen and (max-width: 920px) {
  .noShow {
    display: none;
    
  }
}

.hero img {
  border-radius: 15px;
  box-shadow: 12px 0 0 4;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  filter: grayscale(0.4) sepia(0.1) contrast(1) saturate(1);
}

.hero__content {

  position: absolute;
  top: 220px;
  width: 50%;
  color: #070501;
  text-shadow: 12%;
  top: 400px;
  

}
.filter {
  border-radius: 8px;
  align-self: center;
  background-color: #8fa85dbc;
  width: 100%;
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.filter__list {
  display: flex;
  flex-wrap: wrap;
  background-color: #8fa85dbc;
  list-style-type: none;
  width: 100%vh;
  border: 2.2px solid #fff;
  border-radius: 8px;
}

@media screen and (max-width: 920px) {
  .hero img {
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: top;
    font-size: 12px;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    text-decoration: dashed;
    top: 200px;
    font-size: 12px;
    width: 50%;
    font-size: 6px;
  }
}

.productList {
    margin: 60px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    /* flex-wrap: wrap; */ /* Questo lo avevo messo io */
    overflow-x:auto ; /* <- Stiamo aggiungendo questo durante la lezione */
    scroll-snap-type: x mandatory;
    padding: 30px;
  }
  
  .productCard {
    margin: 0 auto;
    background-color: #f96c0086;
    width: 200px;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    height: 400px;
    transition: all 0.35s;
    cursor: pointer;
    scroll-snap-type: start;
  }
  

  .productCard:hover{
    transform: scale(1.1) ;
  }
  
  .productCard img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  
  .productCard__text {
    padding: 12px;
  }

  

.modalProduct {
  position: fixed;
  top: calc(50% - 200px);
  left: calc(50% - 300px);
  display: flex;
  gap: 20px;
  height: 400px;
  width: 600px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
  border: 2px solid;
  border-radius: 17px; 
 
 
}

.modalProduct__gallery,
.modalProduct__text {
  border-radius: 16px;
  background-color: #b20bbbd1;
  width: 50%;
}

.modalProduct__gallery {
  background-color: green;
 
}
.modalProduct__gallery:hover{
  
  transform: rotate(-360deg);
  transform-origin: 600% 120%;
  transition: all 3s;
}
.modalProduct__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modalProduct__gallery img {
  -moz-border-radius: 180px;
  -webkit-border-radius: 180px;
  border-radius: 180px;
  width: 100%;
  height: 100%;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 12px;
  object-fit: cover center;
  object-position: right;
}

.modalMainText {
  
  border: 2px solid tomato;
  background-color: rgba(14, 145, 145, 0.659);
  border-top-right-radius: 14px;
  border-top-left-radius: 12px;
  border-bottom-right-radius:12% ;
  box-sizing: border-box;
  box-shadow: 12% black;

}

.modalMainText h1 {
  font-size: 1.8rem;
  font-weight: 400;
}

.modalMainText p {
  color: rgb(52, 52, 52);
  font-size: 0.9rem;
}

.modalMainBuy {
  height: 100px;
  display: flex;
  align-items:center;
  gap: 10px;
}

.modalMainBuy button {
  height: 30px;
  width: 120px;
  border: 1px solid rgb(12, 154, 146);
  border-radius: 18px;
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
  
}
.modalMainBuy button:hover{
  background-color: rgb(0, 128, 255);
  transform: scale(0.9);
  transition: all 0.4s;
}

.modalMainBuy button:active{
  
  transform: rotate(1200deg);
  transform-origin: 600% 120%;
  transition: all 1s;
}

.closeModalBtn {
  width: 35px;
  height: 35px;
  border: 0;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: tomato;
  color: white;
  font-size: 0.9;
  font-weight: bold;
  cursor: pointer;
  
}

.closeModalBtn:active {
  background-color: brown;
}

.modalOverlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff90;
  z-index: -1;
  transition: all 0.4s;
}

@media screen and (max-width: 920px) {
  .modalProduct{
    width:100%;
    display: flex;
    flex-wrap: nowrap;
  
  }
}